# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.sqlite3
*.db

# Virtual environments
venv/
.env
.env.*

# Alembic
migrations/versions/*.pyc

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo